{% set language = {
  "selectCampusText":"Select a campus:",
  "minutesText": "minutes",
  "dueText":"Due",
  "toText":"to",
  "favouritesText":"Favourites",
  "refreshButtonDateFormat":"Do MMM Y h:mma",
  "departureLabelText":"Departure time",
  "departuresDirectionLabel": "Direction",
  "departuresNetworkLabel": "Network",
  "changeCampusText":"Change campus",
  "goToFavouritesText":"Go to favourites",
  "addToFavouritesButtonText": "Add to favourites",
  "removeFromFavouritesButtonText": "Remove from favourites",
  "noStopDataText":"No stop data is available.",
  "serviceFailureText":"Service Failure",
  "campuses":{
    "campus1":{
      "name":"Campus A",
      "stops":{
        "stop1Name":"Bus Stop A",
        "stop2Name":"Bus Stop B",
        "stop3Name":"Train Station A"
      }
    },
    "campus2":{
      "name":"Campus B",
      "stops":{
        "stop1Name":"Bus Stop A",
        "stop2Name":"Bus Stop B",
        "stop3Name":"Train Station A"
      }
    },
    "campus3":{
      "name":"Campus C",
      "stops":{
        "stop1Name":"Bus Stop A",
        "stop2Name":"Bus Stop B",
        "stop3Name":"Train Station A"
      }
    }
  }
} %}
