{% set app_id = "44427862" %}
{% set app_key = "d4fcfb99f0beb34ef2abb21616dd4b2d" %}

{% if aek.action == "get-stop1" %}

  {% set endpoint = "https://api.tfl.gov.uk/StopPoint/490005253Q/Arrivals?mode=bus&line=143,183,326,643,653,683" %}
  {% set service = aek.create_service(endpoint) %}
  {{ service.set_method("GET") }}
  {{ service.set_namespace("") }}
  {{ service.set_parameter("app_id", app_id) }}
  {{ service.set_parameter("app_key", app_key) }}

  {{ aek.respond(service.json) }}

{% elseif aek.action == "get-stop2" %}

  {% set endpoint = "https://api.tfl.gov.uk/StopPoint/490008056P/Arrivals?mode=bus&line=143,183,326,643,653,683" %}
  {% set service = aek.create_service(endpoint) %}
  {{ service.set_method("GET") }}
  {{ service.set_namespace("") }}
  {{ service.set_parameter("app_id", app_id) }}
  {{ service.set_parameter("app_key", app_key) }}

  {{ aek.respond(service.json) }}

{% elseif aek.action == "get-stop3" %}

  {% set endpoint = "https://api.tfl.gov.uk/StopPoint/940GZZLUHCL/Arrivals" %}
  {% set service = aek.create_service(endpoint) %}
  {{ service.set_method("GET") }}
  {{ service.set_namespace("") }}
  {{ service.set_parameter("app_id", app_id) }}
  {{ service.set_parameter("app_key", app_key) }}

  {{ aek.respond(service.json) }}

{% elseif aek.action == "get-tube" %}

  {% set endpoint = "https://api.tfl.gov.uk/Line/northern/Status" %}
  {% set service = aek.create_service(endpoint) %}
  {{ service.set_method("GET") }}
  {{ service.set_namespace("") }}
  {{ service.set_parameter("app_id", app_id) }}
  {{ service.set_parameter("app_key", app_key) }}

  {{ aek.respond(service.json) }}

{% elseif aek.action == "get-line" %}

  {% set endpoint = "https://api.tfl.gov.uk/StopPoint/940GZZLUHCL/Arrivals" %}
  {% set service = aek.create_service(endpoint) %}
  {{ service.set_method("GET") }}
  {{ service.set_namespace("") }}
  {{ service.set_parameter("app_id", app_id) }}
  {{ service.set_parameter("app_key", app_key) }}

  {{ aek.respond(service.json) }}


{% elseif aek.action == "get-routes" %}

  {% set endpoint = "https://api.tfl.gov.uk/Line/143%2C183%2C326%2C643%2C653%2C683%2Cnorthern/Route" %}
  {% set service = aek.create_service(endpoint) %}
  {{ service.set_method("GET") }}
  {{ service.set_namespace("") }}
  {{ service.set_parameter("app_id", app_id) }}
  {{ service.set_parameter("app_key", app_key) }}

  {{ aek.respond(service.json) }}

{% elseif aek.action == "get-disruptions" %}

  {% set endpoint = "https://api.tfl.gov.uk/Line/143%2C183%2C326%2C643%2C653%2C683%2Cnorthern/Disruption" %}
  {% set service = aek.create_service(endpoint) %}
  {{ service.set_method("GET") }}
  {{ service.set_namespace("") }}
  {{ service.set_parameter("app_id", app_id) }}
  {{ service.set_parameter("app_key", app_key) }}

  {{ aek.respond(service.json) }}

{% endif %}
