{% set _config={
  "PUBLIC":{
    "storageKey":"aek2-university-transport",
    "language": language,
    "theme": theme,
    "timestampDisplayFormat": "minutes",
    "timeFormat": "HH:mm",
    "busIcon": "bus",
    "iconAlign":"right",
    "trainIcon": "train",
    "campusIcon": "building",
    "favouritesIcon": "star",
    "campuses":{
      "campus1":{
        'name':"campus1",
        "text":language.campuses.campus1.name,
        "stops":{
          "stop1":{ "text":language.campuses.campus1.stops.stop1Name, "type":"bus"},
          "stop2":{ "text":language.campuses.campus1.stops.stop2Name, "type":"bus"},
          "stop3":{ "text":language.campuses.campus1.stops.stop3Name, "type":"train"}
        },
      },
      "campus2":{
        'name':"campus2",
        "text":language.campuses.campus2.name,
        "stops":{
          "stop1":{ "text":language.campuses.campus2.stops.stop1Name, "type":"bus"},
          "stop2":{ "text":language.campuses.campus2.stops.stop2Name, "type":"bus"},
          "stop3":{ "text":language.campuses.campus2.stops.stop3Name, "type":"train"}
        },
      },
      "campus3":{
        'name':"campus3",
        "text":language.campuses.campus3.name,
        "stops":{
          "stop1":{ "text":language.campuses.campus3.stops.stop1Name, "type":"bus"},
          "stop2":{ "text":language.campuses.campus3.stops.stop2Name, "type":"bus"},
          "stop3":{ "text":language.campuses.campus3.stops.stop3Name, "type":"train"}
        },
      }
    }
  }
} %}
