.ui.listview .item.transport-row i.icon, .ui.listview .item.icon-header i.icon  {
  position: absolute;
  background-size: 2.4rem;
  height: 2.6rem;
  width: 2.6rem;
  margin-top: -0.65rem;
  margin-left: 0.2rem;
  background-color: transparent;
  left: 0;
  background-repeat: no-repeat;
  background-position: 49%;
  background-image: url('https://portal.ombiel.co.uk/assets/MiddlesexUniversity/Middlesexdev/img/Transport/underground.png');
}

.ui.listview .item.transport-row i.icon2, .ui.listview .item.icon-header i.icon2 {
  position: absolute;
  background-size: 2.4rem;
  height: 2.6rem;
  width: 2.6rem;
  margin-top: -0.6rem;
  margin-left: 0.2rem;
  background-color: transparent;
  left: 0;
  background-repeat: no-repeat;
  background-position: 49%;
  background-image: url('https://portal.ombiel.co.uk/assets/MiddlesexUniversity/Middlesexdev/img/Transport/bus.png');
}
