@import "imports/aek-css-config";
@import "base64";

// additional styles below

// fix for listview link icon placement
.ui.listview.menu.fixed-links a.item:after, .ui.listview.menu.fixed-links .item > a:after {
  height: 1.25rem;
}

// reduced Banner padding, used consistently across projects
.ui.banner.header.reduced {
  padding: 0 !important;
}

// this is a fix for inverted HeaderBanners with a specific theme
.ui.inverted.header:hover {
  color: #FFF !important;
}

// subtext improvements
h1.ui.header .sub.header {
  opacity: 0.7;
  font-size: 1.1428rem;
}

// fix for attached (Group) banner width {
.ui.header.attached.inverted, .ui.header.attached.banner {
  width: calc(100% + 1px);
}

// class for disabled buttons with full opacity
.ui.buttons .disabled.button.disabled-opacity, .ui.disabled.button.disabled-opacity, .ui.button:disabled.disabled-opacity,
.ui.disabled.button.disabled-opacity:hover, .ui.disabled.active.button.disabled-opacity {
  opacity: 1 !important;
}

// fixes for Message display
@media (max-width: 370px) {
  .ui.icon.message > .content {
    display: table-cell;
  }

  .ui.icon.message > .icon:not(.close) {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
  }
}

.ui.icon.message.message-fix {
  border-radius: 0;
  margin-top: 0;
  margin-bottom: 0;
}

// default animation-duration is 2s, we want to speed it up a bit
.ui.icon.message.message-fix > .icon.loading:not(.close) {
  opacity: 1;
  padding: 0;
  animation-duration: 1s;
}

.ui.icon.message.message-fix.padded {
  border-radius: 0.2857rem;
}

.ui.icon.message.message-fix > .icon.loading:not(.close) {
  font-size: 1rem;
}

// z-index needs to be 3 to sit on top of Toggle elements nicely
.ui.icon.message.message-fix.message-background {
  z-index: 3;
  box-shadow: none;
  padding: 0.65rem 1.25rem 0.55rem 1.25rem;
  position: absolute;
  border-bottom: 1px solid primeColor;
  font-size: 0.9rem;
}

.ui.icon.message.message-fix.message-background .content {
  padding-left: 1rem;
}

.ui.icon.message.message-fix.message-background.alt {
  border-bottom-color: tint(altColor, 70%);
}

//-------------------------------------------------------------------------------

div.box2 {
  display: table-cell;
  min-width: calc((100vw - 80px) / 2);
  max-width: calc((100vw - 80px) / 2);
  padding:0.5rem;
}

div.box2:first-child {

  background-color: #e0e0e0;
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

div.box2:not(:last-child) {
  padding: 0.5rem;
  vertical-align: middle;
}

div.box2:not(:first-child) {
  padding-left: 1rem;
}
