@import "imports/aek-css-config";

// NavMenu replacement
.ui.labeled.icon.four, .ui.labeled.icon.three, .ui.labeled.icon.two {
  box-shadow: 1px 1px 0 0 #DDD inset;
}

.ui.labeled.icon.four div, .ui.labeled.icon.three div, .ui.labeled.icon.two div {
  display: inline-block;
  height: 63px;
  border-top: 2px solid #DEDEDE;
}

.ui.labeled.icon.four div {
  width: 25%;
}

.ui.labeled.icon.three div {
  width: 33.33%;
}

.ui.labeled.icon.two div {
  width: 50%;
}

.ui.labeled.icon.four div, .ui.labeled.icon.four div i.icon, .ui.labeled.icon.three div, .ui.labeled.icon.three div i.icon, .ui.labeled.icon.two div, .ui.labeled.icon.two div i.icon {
  color: #444;
  opacity: 0.7;
}

.ui.labeled.icon.four div i.icon, .ui.labeled.icon.three div i.icon, .ui.labeled.icon.two div i.icon {
  display: block;
  margin: 0.6rem auto 0.4rem auto;
}

.ui.labeled.icon.four div.active, .ui.labeled.icon.three div.active, .ui.labeled.icon.two div.active {
  background-color: rgba(0, 0, 0, 0.05);
  border-top: 2px solid #444;
  opacity: 1;
}

.ui.labeled.icon.four div.active i.icon, .ui.labeled.icon.three div.active i.icon, .ui.labeled.icon.two div.active i.icon {
  opacity: 1;
}

.ui.labeled.icon.four.prime div.active, .ui.labeled.icon.three.prime div.active, .ui.labeled.icon.two.prime div.active {
  border-top: 2px solid primeColor;
  color: primeColor;
}

.ui.labeled.icon.four.prime div.active i.icon, .ui.labeled.icon.three.prime div.active i.icon, .ui.labeled.icon.two.prime div.active i.icon {
  color: primeColor;
}
