// VerticalSegment styles
div.drop-segment:not(.expanded) *.attached:first-child:last-child {
  border-radius: 0.2857rem;
}

div.drop-segment.expanded *.attached:first-child {
  border-top-left-radius: 0.2857rem;
  border-top-right-radius: 0.2857rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

div.drop-segment.expanded *.attached:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0.2857rem;
  border-bottom-right-radius: 0.2857rem;
}

div.drop-segment.none:not(.expanded) *.attached:first-child:last-child {
  border-radius: 0;
}

div.drop-segment.none.expanded *.attached:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

div.drop-segment.none.expanded *.attached:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.ui.attached.button > * {
  margin: 0;
}

.ui.attached.button.icon > * {
  max-width: 90%;
}
