<!DOCTYPE html>

  {{ aek.set_aek_version("2.0") }}
  {{ aek.set_header_text('') }}


      {% set language = {
  "selectCampusText":"Select a campus:",
  "minutesText": "minutes",
  "dueText":"Due",
  "toText":"to",
  "favouritesText":"Favourites",
  "refreshButtonDateFormat":"Do MMM Y h:mma",
  "departureLabelText":"Departure time",
  "departuresDirectionLabel": "Direction",
  "departuresNetworkLabel": "Network",
  "changeCampusText":"Change campus",
  "goToFavouritesText":"Go to favourites",
  "addToFavouritesButtonText": "Add to favourites",
  "removeFromFavouritesButtonText": "Remove from favourites",
  "noStopDataText":"No stop data is available.",
  "serviceFailureText":"Service Failure",
  "campuses":{
    "campus1":{
      "name":"Campus A",
      "stops":{
        "stop1Name":"Bus Stop A",
        "stop2Name":"Bus Stop B",
        "stop3Name":"Train Station A"
      }
    },
    "campus2":{
      "name":"Campus B",
      "stops":{
        "stop1Name":"Bus Stop A",
        "stop2Name":"Bus Stop B",
        "stop3Name":"Train Station A"
      }
    },
    "campus3":{
      "name":"Campus C",
      "stops":{
        "stop1Name":"Bus Stop A",
        "stop2Name":"Bus Stop B",
        "stop3Name":"Train Station A"
      }
    }
  }
} %}
      {% set theme = {
  "primary":"prime",
  "secondary":"alt"
} %}
      {% set currency_prefix = "£" %}
  
  {% set app_id = "44427862" %}
{% set app_key = "d4fcfb99f0beb34ef2abb21616dd4b2d" %}

{% if aek.action == "get-stop1" %}

  {% set endpoint = "https://api.tfl.gov.uk/StopPoint/490005253Q/Arrivals?mode=bus&line=143,183,326,643,653,683" %}
  {% set service = aek.create_service(endpoint) %}
  {{ service.set_method("GET") }}
  {{ service.set_namespace("") }}
  {{ service.set_parameter("app_id", app_id) }}
  {{ service.set_parameter("app_key", app_key) }}

  {{ aek.respond(service.json) }}

{% elseif aek.action == "get-stop2" %}

  {% set endpoint = "https://api.tfl.gov.uk/StopPoint/490008056P/Arrivals?mode=bus&line=143,183,326,643,653,683" %}
  {% set service = aek.create_service(endpoint) %}
  {{ service.set_method("GET") }}
  {{ service.set_namespace("") }}
  {{ service.set_parameter("app_id", app_id) }}
  {{ service.set_parameter("app_key", app_key) }}

  {{ aek.respond(service.json) }}

{% elseif aek.action == "get-stop3" %}

  {% set endpoint = "https://api.tfl.gov.uk/StopPoint/940GZZLUHCL/Arrivals" %}
  {% set service = aek.create_service(endpoint) %}
  {{ service.set_method("GET") }}
  {{ service.set_namespace("") }}
  {{ service.set_parameter("app_id", app_id) }}
  {{ service.set_parameter("app_key", app_key) }}

  {{ aek.respond(service.json) }}

{% elseif aek.action == "get-tube" %}

  {% set endpoint = "https://api.tfl.gov.uk/Line/northern/Status" %}
  {% set service = aek.create_service(endpoint) %}
  {{ service.set_method("GET") }}
  {{ service.set_namespace("") }}
  {{ service.set_parameter("app_id", app_id) }}
  {{ service.set_parameter("app_key", app_key) }}

  {{ aek.respond(service.json) }}

{% elseif aek.action == "get-line" %}

  {% set endpoint = "https://api.tfl.gov.uk/StopPoint/940GZZLUHCL/Arrivals" %}
  {% set service = aek.create_service(endpoint) %}
  {{ service.set_method("GET") }}
  {{ service.set_namespace("") }}
  {{ service.set_parameter("app_id", app_id) }}
  {{ service.set_parameter("app_key", app_key) }}

  {{ aek.respond(service.json) }}


{% elseif aek.action == "get-routes" %}

  {% set endpoint = "https://api.tfl.gov.uk/Line/143%2C183%2C326%2C643%2C653%2C683%2Cnorthern/Route" %}
  {% set service = aek.create_service(endpoint) %}
  {{ service.set_method("GET") }}
  {{ service.set_namespace("") }}
  {{ service.set_parameter("app_id", app_id) }}
  {{ service.set_parameter("app_key", app_key) }}

  {{ aek.respond(service.json) }}

{% elseif aek.action == "get-disruptions" %}

  {% set endpoint = "https://api.tfl.gov.uk/Line/143%2C183%2C326%2C643%2C653%2C683%2Cnorthern/Disruption" %}
  {% set service = aek.create_service(endpoint) %}
  {{ service.set_method("GET") }}
  {{ service.set_namespace("") }}
  {{ service.set_parameter("app_id", app_id) }}
  {{ service.set_parameter("app_key", app_key) }}

  {{ aek.respond(service.json) }}

{% endif %}
  {% set _config={
  "PUBLIC":{
    "storageKey":"aek2-university-transport",
    "language": language,
    "theme": theme,
    "timestampDisplayFormat": "minutes",
    "timeFormat": "HH:mm",
    "busIcon": "bus",
    "iconAlign":"right",
    "trainIcon": "train",
    "campusIcon": "building",
    "favouritesIcon": "star",
    "campuses":{
      "campus1":{
        'name':"campus1",
        "text":language.campuses.campus1.name,
        "stops":{
          "stop1":{ "text":language.campuses.campus1.stops.stop1Name, "type":"bus"},
          "stop2":{ "text":language.campuses.campus1.stops.stop2Name, "type":"bus"},
          "stop3":{ "text":language.campuses.campus1.stops.stop3Name, "type":"train"}
        },
      },
      "campus2":{
        'name':"campus2",
        "text":language.campuses.campus2.name,
        "stops":{
          "stop1":{ "text":language.campuses.campus2.stops.stop1Name, "type":"bus"},
          "stop2":{ "text":language.campuses.campus2.stops.stop2Name, "type":"bus"},
          "stop3":{ "text":language.campuses.campus2.stops.stop3Name, "type":"train"}
        },
      },
      "campus3":{
        'name':"campus3",
        "text":language.campuses.campus3.name,
        "stops":{
          "stop1":{ "text":language.campuses.campus3.stops.stop1Name, "type":"bus"},
          "stop2":{ "text":language.campuses.campus3.stops.stop2Name, "type":"bus"},
          "stop3":{ "text":language.campuses.campus3.stops.stop3Name, "type":"train"}
        },
      }
    }
  }
} %}


<html lang="en" data-aek-package="[[__package_data__]]" data-public-assets="[[__public_assets__]]" data-env="prod" data-platform="{{ aek.get_platform() }}" >
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <script type="aek/config" id="aek__config">{{ _config["PUBLIC"]|json_encode|raw }}</script>
  </head>

<body  >

  
  <script>

    !function(e){function o(n){if(t[n])return t[n].exports;var s=t[n]={exports:{},id:n,loaded:!1};return e[n].call(s.exports,s,s.exports,o),s.loaded=!0,s.exports}var t={};return o.m=e,o.c=t,o.p="/public/js/",o(0)}([function(e,o,t){"use strict";!function(){window.loadCampusmAssetStore=function(e,o){o||(o="0.0.8");var t,n=function(){e&&e(window.CampusM.assetStore)};try{t=JSON.parse(window.localStorage.__campusmAssetStore)}catch(s){}if(t&&t.version>=o)new Function(t.code)(),n();else{var r=document.createElement("script");r.onload=n,r.onError=function(){t?(console.warn("AssetStore: Unable to fetch minimum version "+t.version+" instead"),new Function(t.code)(),n()):console.error("AssetStore: unable to initialise AssetStore")},r.src="https://portal.ombiel.co.uk/assets/aek/aek-asset-store/"+o+"/loader.js",document.head.appendChild(r)}}}()}]);
    loadCampusmAssetStore(function(assetStore) {

      var sheets = ["main","nav-menu-improved","vertical-segment"];
      sheets = sheets.map(function(s) {return s.match(/^(https?:\/)?\//) && s || "[[__public_assets__]]/css/"+s+".css"});

      var scripts = ["main"];
      scripts = scripts.map(function(s) {return s.match(/^(https?:\/)?\//) && s || "[[__public_assets__]]/js/"+s+".js"});

      assetStore.fetchAssets(scripts);
      assetStore.loadCSS(sheets).then(function() {
        assetStore.loadJS(scripts);
      });

    });

  </script>

</body>
</html>
